# fix specific version as same as BiRefNet docker
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.1
--extra-index-url https://download.pytorch.org/whl/cu118
torchvision==0.15.2

#torch
torchsde
#torchvision
torchaudio
einops
transformers>=4.28.1
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
aiohttp
pyyaml
Pillow
scipy
tqdm
psutil

# non essential dependencies:
kornia>=0.7.1
spandrel
soundfile

# ComfyUI_LayerStyle
#numpy<2.0
#pillow
#torch
matplotlib
#Scipy
scikit_image
opencv-python
opencv-contrib-python
pymatting
segment_anything
#timm
addict
yapf
colour-science
wget
mediapipe
loguru
typer_config
fastapi
rich
google-generativeai
diffusers
omegaconf
#tqdm
#transformers>=4.43.3
#kornia
ultralytics
blend_modes
blind-watermark
qrcode
pyzbar
transparent-background
huggingface_hub>=0.23.3
accelerate
bitsandbytes>=0.41.1
torchscale
wandb
psd-tools
hydra-core